.font-50 {
  font-size: 5em;
}
.font-24{
  font-size: 2.4em;
}
.font-20 {
  font-size: 2em;
}
.font-18 {
  font-size: 1.8em;
}

.bold {
  font-weight: 600;
}

.orange {
  color: #FFBC6B;
}
.black {
  color: #000000;
}
.white {
  color: #ffffff;
}
.red {
  color: #B8121A;
}
.gold {
  color: #FFBC6B;
}
.purpur {
  color: #464069;
}

.right {
  text-align: right;
}